@using OrderManagement_MVC.Resources
@model OrderManagement_MVC.Models.Order


<br/>
<br/>

@Model.OrderName


@Html.LabelFor(a=>a.OrderDate)

<div>
    @OrderManagement.greeting <br/>
    @OrderManagement.greeting1
    
</div>
